.close_button {
    float : right;
}

.top_heading {
    margin-top: 5px;
    margin-bottom: 0px;
}

.top_row {
    position: relative;
    overflow:hidden;
    top: 0;
    left: 0;
    height: 400px;
}

.image_details {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    margin-left:20px;
}

.addtional_info_vis {
    width: 32%;
    display: inline-block;
    vertical-align: top;
    margin-left:20px;  
}

.image_container {
    width: 32%;
    display: inline-block;
    vertical-align: middle;
}

.image_display {
    display: block;
    margin:auto;
    width: 400px;
    height:400px;
    object-fit: contain;
}

.overlay_content {
    overflow:hidden;
}

.method_selection {
    margin: auto;
    margin-bottom: 10px;
    width: 200px;
}

.related_image_container {
    margin-top: 10px;
}