#ignore python virtualenv packages
.Python
bin/
include/
lib/
venv/
share/
/src/

__pycache__

#ignore npm packages
project/frontend/node_modules/
project/frontend/public/dist/*
package-lock.json
*.lock

#ignore visual studio code and pycharm files
.DS_Store
.idea/
*.pyc

#ignore content of models folder
!models/
models/*
!models/preprocessing/
!datasets/
datasets/*
